cmake-build-debug/

.idea/
.vscode/
darknet_ros/data/
darknet_ros/data_kitti/
darknet_ros/data_MOT16/
darknet_ros/data_MOT17Det/
darknet_ros/yolo_network_config/weights/
darknet_ros/seq_1
darknet_ros/results
models/pose
