<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->
  <arg name="launch_prefix" default=""/>

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find cubicle_detect)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find cubicle_detect)/yolo_network_config/cfg"/>
  <arg name="seg_param_path"             default="$(find cubicle_detect)/config/params.yml"/>
  <arg name="min_disparity"              default="7"/>
  <arg name="disparity_scope"            default="128"/>

  <!--<param name="use_sim_time" value="true" />-->
  <!--Rectify input stereo images  -->
  <include file="$(find undistort_images)/launch/bus.launch" />

  <rosparam command="load"            file="$(find cubicle_detect)/config/cv.yaml"/>
  <rosparam command="load"            file="$(find cubicle_detect)/config/yolov3-spp.yaml"/>

<!--  Localization-->
<!--  <include file="$(find sslam_estimator)/launch/bus_core.launch" />-->

<!--   Start darknet and ros wrapper-->
  <node pkg="cubicle_detect" type="cubicle_detect" name="cubicle_detect_bus" output="screen" launch-prefix="$(arg launch_prefix)">
    <!--whether use one-channel as input-->
    <rosparam command="load"            file="$(find cubicle_detect)/config/cv.yaml"/>
    <rosparam command="load"            file="$(find cubicle_detect)/config/yolov3-spp.yaml"/>
    <param name="use_grey"              value="false" />
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <param name="min_disparity"         value="$(arg min_disparity)" />
    <param name="disparity_scope"       value="$(arg disparity_scope)" />
    <param name="image_left_topic"      value="/left/image_rect" />
    <param name="image_right_topic"     value="/right/image_rect" />
    <param name="image_info_left"       value="/left/camera_info" />
    <param name="image_info_right"      value="/right/camera_info" />
    <param name="filter_dynamic"        value="true" />
    <param name="scale"                 value="1" />
    <param name="enable_stereo"         value="true" />
    <param name="enable_classification" value="false" />
    <param name="enable_neg"            value="false" />
    <param name="seg_path"              value="$(arg seg_param_path)" />
  </node>

 <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>
