<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find cubicle_detect)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find cubicle_detect)/yolo_network_config/cfg"/>
  <arg name="min_disparity"              default="6"/>
  <arg name="disparity_scope"            default="128"/>
  <arg name="nodelet_manager_name"       default="ugv_nodelet_manager" />

  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)"  args="manager" output="screen"/>

<!--  <param name="use_sim_time" value="true" />-->

<!--  Localization-->
  <include file="$(find sslam_estimator)/launch/bus_core.launch" />
  <include file="$(find undistort_images)/launch/bus.launch" />

<!--   Start darknet and ros wrapper-->
  <node pkg="nodelet" type="nodelet" name="cubicle_detection" args="load darknet_ros/detection_nodelet
    $(arg nodelet_manager_name)" output="screen">
    <!--whether use one-channel as input-->
    <rosparam command="load"            file="$(find cubicle_detect)/config/ros.yaml"/>
    <rosparam command="load"            file="$(find cubicle_detect)/config/yolov3-spp.yaml"/>
    <param name="use_grey"              value="false" />
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <param name="min_disparity"         value="$(arg min_disparity)" />
    <param name="disparity_scope"       value="$(arg disparity_scope)" />
    <param name="image_left_topic"      value="/left/image_rect" />
    <param name="image_right_topic"     value="/right/image_rect" />
    <param name="image_info_left"       value="/left/camera_info" />
    <param name="image_info_right"      value="/right/camera_info" />
    <param name="filter_dynamic"        value="true" />
    <param name="scale"                 value="1" />
    <param name="enable_stereo"         value="true" />
    <param name="enable_classification" value="true" />
  </node>

<!--  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find cubicle_detect)/config/demo.rviz" />-->

 <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>
